.banner-background {
  background-image: url("./src/mobile_banner.webp");
  background-size: cover;
  background-position: center;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.fade-in-text-1 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 1s;
}

.fade-in-text-2 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2s;
}
.fade-in-text-3 {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 3s;
}

.slide-in-container {
  overflow: hidden;
}

.promo {
  animation-name: slidein;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: ease-out;
}

@media (min-width: 768px) {
  /* Set a background for banner div on large screens */
  .banner-background {
    background: no-repeat url("./src/banner.webp");
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  /* Create an overlay for the shine effect */
  .banner-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Create a transparent-to-white gradient for the shine effect */
    background: linear-gradient(
      -60deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 70%,
      rgba(255, 255, 255, 0) 90%
    );
    /* Set the initial background position far left to start the animation off-screen */
    background-size: 200% 100%;
    background-position-x: 100%;
    animation-name: shimmer-animation;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: initial;
    animation-timing-function: linear;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer-animation {
  0% {
    background-position: 100%; /* Start position (right) */
  }
  /* Move the background position from right to left */
  100% {
    background-position-x: -100%;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
