.banner-background {
  background-image: url("./src/mobile_banner.webp");
  background-size: cover;
  background-position: center;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fade-in-text-1 {
  opacity: 0; /* Start completely transparent */
  animation: fadeIn 2s forwards; /* Apply the animation */
  animation-delay: 1s; /* Wait for 1 second before starting */
}

.fade-in-text-2 {
  opacity: 0; /* Start completely transparent */
  animation: fadeIn 2s forwards; /* Apply the animation */
  animation-delay: 2s; /* Wait for 1 second before starting */
}

.fade-in-text-3 {
  opacity: 0; /* Start completely transparent */
  animation: fadeIn 2s forwards; /* Apply the animation */
  animation-delay: 3s; /* Wait for 1 second before starting */
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .banner-background {
    background: no-repeat url("./src/banner.webp");
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
}

.banner-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Create a transparent-to-white gradient for the shine effect */
  background: linear-gradient(
    -60deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.8) 70%,
    rgba(255, 255, 255, 0) 90%
  );
  /* Set the initial background position far left to start the animation off-screen */
  background-size: 200% 100%;
  background-position-x: 100%;
  animation: shimmer-animation 4s infinite linear;
}

@keyframes shimmer-animation {
  0% {
    background-position: 100%; /* Start position (right) */
  }
  /* Move the background position from right to left */
  100% {
    background-position-x: -100%;
  }
}
